@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">EduCenterManager</h1>
    <p>Administrador de: <a href="https://learn.microsoft.com/aspnet/core">Notas, Cursos, Estudiantes, Profesores, horarios</a>.</p>
</div>
